<!DOCTYPE html>
<html>
<head>
  <title>Customer Service</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <p/>
    <form>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="incident-date">Incident date</label>
          <input type="date" class="form-control" id="incident-date">
        </div>
        <div class="col-sm-6">
          <p />
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="overpriced25">
            <label class="form-check-label" for="overpriced25">
              Overpriced trips >= 25%
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="overpriced50">
            <label class="form-check-label" for="overpriced50">
              Overpriced trips >= 50%
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <input class="form-control" id="pick-up-address" placeholder="Pick up address">
        </div>
        <div class="col-sm-6">
          <button id="submit-button" class="btn btn-primary">Submit</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <input class="form-control" id="drop-off-address" placeholder="Drop off address">
        </div>
        <div class="col-sm-6">
          <input id="clear-form-button" type="submit" class="btn btn-primary" name="clear_form" value="Clear form">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <input class="form-control" id="taxi-id" placeholder="Taxi ID">
        </div>
      </div>
    </form>
    <p />
    <table class="table">
      <thead>
        <tr className="data-row">
          <th>Date</th>
          <th>Pickup time</th>
          <th>Drop off time</th>
          <th>Est pick up time</th>
          <th>Est duration</th>
          <th>Pickup address</th>
          <th>Drop off address</th>
          <th>Taxi ID</th>
        </tr>
      </thead>
      <tbody>
        <tr class="data-row">
          <td>2020-03-16</td>
          <td>10:28.30</td>
          <td>10:44.16</td>
          <td>10:30.00</td>
          <td>00:11.00</td>
          <td>Via Atlixcayotl 5718</td>
          <td>Blvd Atlixco 3304</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>