<!DOCTYPE html>
<html>
  <head>
    <title>Customer Service</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Incident date</label>
              <input id="date-of-trip" type="date" class="form-control">
            </div>
            <div class="form-group">
              <label for="pick-up-address">Pick up address</label>
              <input id="pick-up-address" class="form-control" id="exampleInputPassword1">
            </div>
            <button id="submit-button" class="btn btn-primary">Submit</button>
        </form>
        <p/>
        <table class="table">
            <thead>
              <tr className="data-row">
                <th>Date</th>
                <th>Pickup time</th>
                <th>Pickup address</th>
                <th>Drop off address</th>
                <th>Taxi ID</th>
              </tr>
            </thead>
            <tbody>
              <tr class="data-row">
                <td>2020-03-15</td>
                <td>16:20.10</td>
                <td>Via Atlixcayotl 5718</td>
                <td>Blvd Atlixco 3304</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>